body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C3E2C2;
  color: #000;
  text-align: center;
  padding: 10px;
}

.dark-mode header {
  background-color: #2D3250;
  color: #fff;
}

h1 {
  margin: 0;
}

.mode-buttons {
  margin-right: 10px;
}

button {
  background-color: #CD8D7A;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #CD8D7A;
}

.dark-mode button {
  background-color: #F6B17A;
}

.dark-mode button:hover {
  background-color: #F6B17A;
}

.channel-section {
  margin-bottom: 20px;
}

.channel-section h2 {
  cursor: pointer;
  background-color: #EAECCC;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.dark-mode .channel-section h2 {
  background-color: #424769;
}

.channel-section.collapsed .channel-list {
  display: none;
}

.channel-section .search-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.channel-section input {
  margin-right: 10px;
}

.light-mode .channel-section input {
  background-color: #EAECCC;
  border: 1px solid #EAECCC;
}

.dark-mode .channel-section input {
  background-color: #424769;
  border: 1px solid #424769;
}
.channel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.no-results-wrapper{
  text-align: center;
}

.no-results {
  color: #DBCC95;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.dark-mode .no-results {
  color: #7077A1;
}

.channel-card {
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  cursor: pointer;
}

.dark-mode .channel-card {
  border: 1px solid #EAECCC
}
.light-mode .channel-card {
  border: 1px solid #EAECCC;
}

.channel-card img {
  width: 90px;
  height: 70px;
  margin-bottom: 2px;
}

.channel-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

/* Light Mode */
body.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}
